<% content_for :footer do %>
  <script>
    $(document).ready(function() {
      $("#search").select2({
        minimumInputLength: 3,
        ajax: {
          url: '/contacts/index',
          processResults: function (data) {
            return {
              results: data.contacts
            }
          }
        },
        templateResult: function (contact) {
          var markup = "<div>" + contact.name + "</div>";
          return $.parseHTML(markup)
        }
      })
    });
  </script>
<% end %>

<h1>Search for a contact</h1>

<p>Start typing a contact's name and select to view.</p>
<label for="search">search</label>
<select id="search" name="search"></select>
